.Palette {
  height: 100vh;
}

.Palette-colors {
  height: 90%;
  line-height: 0;
}

.Palette-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5vh;
  margin: 0 1rem;
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
}

.Palette-footer-emoji {
  margin-left: 1rem;
  font-size: 2.5rem;
}
